# 1. Import Libraries & Load Data

In [12]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [14]:
data=pd.read_csv(r"C:\Users\SNEHA SHEELWANTH\Downloads\archive\sales_data_sample.csv",encoding='ISO-8859-1')

In [15]:
data

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,100.00,15,2244.40,12/2/2004 0:00,Shipped,4,12,2004,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Small
2819,10373,29,100.00,1,3978.51,1/31/2005 0:00,Shipped,1,1,2005,...,Torikatu 38,NaN,Oulu,NaN,90110,Finland,EMEA,Koskitalo,Pirkko,Medium
2820,10386,43,100.00,4,5417.57,3/1/2005 0:00,Resolved,1,3,2005,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Medium
2821,10397,34,62.24,1,2116.16,3/28/2005 0:00,Shipped,1,3,2005,...,1 rue Alsace-Lorraine,NaN,Toulouse,NaN,31000,France,EMEA,Roulet,Annette,Small
2822,10414,47,65.52,9,3079.44,5/6/2005 0:00,On Hold,2,5,2005,...,8616 Spinnaker Dr.,NaN,Boston,MA,51003,USA,NaN,Yoshido,Juri,Medium

# 2.Summarize data

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDERNUMBER       2823 non-null   int64
 1   QUANTITYORDERED   2823 non-null   int64
 2   PRICEEACH         2823 non-null   float64
 3   ORDERLINENUMBER   2823 non-null   int64
 4   SALES             2823 non-null   float64
 5   ORDERDATE         2823 non-null   object
 6   STATUS            2823 non-null   object
 7   QTR_ID            2823 non-null   int64
 8   MONTH_ID          2823 non-null   int64
 9   YEAR_ID           2823 non-null   int64
 10  PRODUCTLINE       2823 non-null   object
 11  MSRP              2823 non-null   int64
 12  PRODUCTCODE       2823 non-null   object
 13  CUSTOMERNAME      2823 non-null   object
 14  PHONE             2823 non-null   object
 15  ADDRESSLINE1      2823 non-null   object
 16  ADDRESSLINE2      302 non-null    object
 17  CITY              2823 non-null   object
 18  STATE             1337 non-null   object
 19  POSTALCODE        2747 non-null   object
 20  COUNTRY           2823 non-null   object
 21  TERRITORY         1749 non-null   object
 22  CONTACTLASTNAME   2823 non-null   object
 23  CONTACTFIRSTNAME  2823 non-null   object
 24  DEALSIZE          2823 non-null   object
dtypes: float64(2), int64(7), object(16)
memory usage: 551.5+ KB

# 3. Check for Missing Values

In [17]:
data.isna().sum()

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2521
CITY                   0
STATE               1486
POSTALCODE            76
COUNTRY                0
TERRITORY           1074
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

In [22]:
data = data.dropna()

In [23]:
data.isna().sum()

ORDERNUMBER         0
QUANTITYORDERED     0
PRICEEACH           0
ORDERLINENUMBER     0
SALES               0
ORDERDATE           0
STATUS              0
QTR_ID              0
MONTH_ID            0
YEAR_ID             0
PRODUCTLINE         0
MSRP                0
PRODUCTCODE         0
CUSTOMERNAME        0
PHONE               0
ADDRESSLINE1        0
ADDRESSLINE2        0
CITY                0
STATE               0
POSTALCODE          0
COUNTRY             0
TERRITORY           0
CONTACTLASTNAME     0
CONTACTFIRSTNAME    0
DEALSIZE            0
dtype: int64

# 4. Remove Duplicates

In [24]:
data.duplicated().sum()

0

In [26]:
data=data.drop_duplicates()
data

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
10,10223,37,100.00,1,3965.66,2/20/2004 0:00,Shipped,1,2,2004,...,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,Australia,APAC,Ferguson,Peter,Medium
21,10361,20,72.55,13,1451.00,12/17/2004 0:00,Shipped,4,12,2004,...,"Monitor Money Building, 815 Pacific Hwy",Level 6,Chatswood,NSW,2067,Australia,APAC,Huxley,Adrian,Small
40,10270,21,100.00,9,4905.39,7/19/2004 0:00,Shipped,3,7,2004,...,"Monitor Money Building, 815 Pacific Hwy",Level 6,Chatswood,NSW,2067,Australia,APAC,Huxley,Adrian,Medium
47,10347,30,100.00,1,3944.70,11/29/2004 0:00,Shipped,4,11,2004,...,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,Australia,APAC,Ferguson,Peter,Medium
51,10391,24,100.00,4,2416.56,3/9/2005 0:00,Shipped,1,3,2005,...,201 Miller Street,Level 15,North Sydney,NSW,2060,Australia,APAC,O'Hara,Anna,Small
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2667,10120,43,76.00,14,3268.00,4/29/2003 0:00,Shipped,2,4,2003,...,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,Australia,APAC,Ferguson,Peter,Medium
2673,10223,26,67.20,15,1747.20,2/20/2004 0:00,Shipped,1,2,2004,...,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,Australia,APAC,Ferguson,Peter,Small
2685,10361,44,100.00,10,5001.92,12/17/2004 0:00,Shipped,4,12,2004,...,"Monitor Money Building, 815 Pacific Hwy",Level 6,Chatswood,NSW,2067,Australia,APAC,Huxley,Adrian,Medium
2764,10361,35,100.00,11,4277.35,12/17/2004 0:00,Shipped,4,12,2004,...,"Monitor Money Building, 815 Pacific Hwy",Level 6,Chatswood,NSW,2067,Australia,APAC,Huxley,Adrian,Medium
2791,10361,23,95.20,12,2189.60,12/17/2004 0:00,Shipped,4,12,2004,...,"Monitor Money Building, 815 Pacific Hwy",Level 6,Chatswood,NSW,2067,Australia,APAC,Huxley,Adrian,Small

In [37]:
data.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
10,10223,37,100.00,1,3965.66,2/20/2004 0:00,shipped,1,2,2004,...,636 St Kilda Road,Level 3,melbourne,victoria,3004,AUSTRALIA,apac,ferguson,peter,medium
21,10361,20,72.55,13,1451.00,12/17/2004 0:00,shipped,4,12,2004,...,"Monitor Money Building, 815 Pacific Hwy",Level 6,chatswood,nsw,2067,AUSTRALIA,apac,huxley,adrian,small
40,10270,21,100.00,9,4905.39,7/19/2004 0:00,shipped,3,7,2004,...,"Monitor Money Building, 815 Pacific Hwy",Level 6,chatswood,nsw,2067,AUSTRALIA,apac,huxley,adrian,medium
47,10347,30,100.00,1,3944.70,11/29/2004 0:00,shipped,4,11,2004,...,636 St Kilda Road,Level 3,melbourne,victoria,3004,AUSTRALIA,apac,ferguson,peter,medium
51,10391,24,100.00,4,2416.56,3/9/2005 0:00,shipped,1,3,2005,...,201 Miller Street,Level 15,north sydney,nsw,2060,AUSTRALIA,apac,o'hara,anna,small

# 5. Standardize Text Columns

In [40]:
text_cols = ['STATUS', 'CITY', 'STATE', 'COUNTRY', 'TERRITORY', 'CONTACTLASTNAME', 'CONTACTFIRSTNAME', 'DEALSIZE']

for col in text_cols:
    data[col] = data[col].astype(str).str.lower().str.strip()

In [41]:
data['COUNTRY']=data['COUNTRY'].str.capitalize().str.strip()

In [39]:
data

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
10,10223,37,100.00,1,3965.66,2/20/2004 0:00,shipped,1,2,2004,...,636 St Kilda Road,Level 3,melbourne,victoria,3004,Australia,apac,ferguson,peter,medium
21,10361,20,72.55,13,1451.00,12/17/2004 0:00,shipped,4,12,2004,...,"Monitor Money Building, 815 Pacific Hwy",Level 6,chatswood,nsw,2067,Australia,apac,huxley,adrian,small
40,10270,21,100.00,9,4905.39,7/19/2004 0:00,shipped,3,7,2004,...,"Monitor Money Building, 815 Pacific Hwy",Level 6,chatswood,nsw,2067,Australia,apac,huxley,adrian,medium
47,10347,30,100.00,1,3944.70,11/29/2004 0:00,shipped,4,11,2004,...,636 St Kilda Road,Level 3,melbourne,victoria,3004,Australia,apac,ferguson,peter,medium
51,10391,24,100.00,4,2416.56,3/9/2005 0:00,shipped,1,3,2005,...,201 Miller Street,Level 15,north sydney,nsw,2060,Australia,apac,o'hara,anna,small
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2667,10120,43,76.00,14,3268.00,4/29/2003 0:00,shipped,2,4,2003,...,636 St Kilda Road,Level 3,melbourne,victoria,3004,Australia,apac,ferguson,peter,medium
2673,10223,26,67.20,15,1747.20,2/20/2004 0:00,shipped,1,2,2004,...,636 St Kilda Road,Level 3,melbourne,victoria,3004,Australia,apac,ferguson,peter,small
2685,10361,44,100.00,10,5001.92,12/17/2004 0:00,shipped,4,12,2004,...,"Monitor Money Building, 815 Pacific Hwy",Level 6,chatswood,nsw,2067,Australia,apac,huxley,adrian,medium
2764,10361,35,100.00,11,4277.35,12/17/2004 0:00,shipped,4,12,2004,...,"Monitor Money Building, 815 Pacific Hwy",Level 6,chatswood,nsw,2067,Australia,apac,huxley,adrian,medium
2791,10361,23,95.20,12,2189.60,12/17/2004 0:00,shipped,4,12,2004,...,"Monitor Money Building, 815 Pacific Hwy",Level 6,chatswood,nsw,2067,Australia,apac,huxley,adrian,small

# 6. Convert Date Formats

In [43]:
data['ORDERDATE'] = pd.to_datetime(data['ORDERDATE'], errors='coerce')
data

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
10,10223,37,100.00,1,3965.66,2004-02-20,shipped,1,2,2004,...,636 St Kilda Road,Level 3,melbourne,victoria,3004,Australia,apac,ferguson,peter,medium
21,10361,20,72.55,13,1451.00,2004-12-17,shipped,4,12,2004,...,"Monitor Money Building, 815 Pacific Hwy",Level 6,chatswood,nsw,2067,Australia,apac,huxley,adrian,small
40,10270,21,100.00,9,4905.39,2004-07-19,shipped,3,7,2004,...,"Monitor Money Building, 815 Pacific Hwy",Level 6,chatswood,nsw,2067,Australia,apac,huxley,adrian,medium
47,10347,30,100.00,1,3944.70,2004-11-29,shipped,4,11,2004,...,636 St Kilda Road,Level 3,melbourne,victoria,3004,Australia,apac,ferguson,peter,medium
51,10391,24,100.00,4,2416.56,2005-03-09,shipped,1,3,2005,...,201 Miller Street,Level 15,north sydney,nsw,2060,Australia,apac,o'hara,anna,small
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2667,10120,43,76.00,14,3268.00,2003-04-29,shipped,2,4,2003,...,636 St Kilda Road,Level 3,melbourne,victoria,3004,Australia,apac,ferguson,peter,medium
2673,10223,26,67.20,15,1747.20,2004-02-20,shipped,1,2,2004,...,636 St Kilda Road,Level 3,melbourne,victoria,3004,Australia,apac,ferguson,peter,small
2685,10361,44,100.00,10,5001.92,2004-12-17,shipped,4,12,2004,...,"Monitor Money Building, 815 Pacific Hwy",Level 6,chatswood,nsw,2067,Australia,apac,huxley,adrian,medium
2764,10361,35,100.00,11,4277.35,2004-12-17,shipped,4,12,2004,...,"Monitor Money Building, 815 Pacific Hwy",Level 6,chatswood,nsw,2067,Australia,apac,huxley,adrian,medium
2791,10361,23,95.20,12,2189.60,2004-12-17,shipped,4,12,2004,...,"Monitor Money Building, 815 Pacific Hwy",Level 6,chatswood,nsw,2067,Australia,apac,huxley,adrian,small

# 7. Fix Column Names

In [45]:
data.columns = data.columns.str.lower().str.replace(' ', '_')
data

,ordernumber,quantityordered,priceeach,orderlinenumber,sales,orderdate,status,qtr_id,month_id,year_id,...,addressline1,addressline2,city,state,postalcode,country,territory,contactlastname,contactfirstname,dealsize
10,10223,37,100.00,1,3965.66,2004-02-20,shipped,1,2,2004,...,636 St Kilda Road,Level 3,melbourne,victoria,3004,Australia,apac,ferguson,peter,medium
21,10361,20,72.55,13,1451.00,2004-12-17,shipped,4,12,2004,...,"Monitor Money Building, 815 Pacific Hwy",Level 6,chatswood,nsw,2067,Australia,apac,huxley,adrian,small
40,10270,21,100.00,9,4905.39,2004-07-19,shipped,3,7,2004,...,"Monitor Money Building, 815 Pacific Hwy",Level 6,chatswood,nsw,2067,Australia,apac,huxley,adrian,medium
47,10347,30,100.00,1,3944.70,2004-11-29,shipped,4,11,2004,...,636 St Kilda Road,Level 3,melbourne,victoria,3004,Australia,apac,ferguson,peter,medium
51,10391,24,100.00,4,2416.56,2005-03-09,shipped,1,3,2005,...,201 Miller Street,Level 15,north sydney,nsw,2060,Australia,apac,o'hara,anna,small
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2667,10120,43,76.00,14,3268.00,2003-04-29,shipped,2,4,2003,...,636 St Kilda Road,Level 3,melbourne,victoria,3004,Australia,apac,ferguson,peter,medium
2673,10223,26,67.20,15,1747.20,2004-02-20,shipped,1,2,2004,...,636 St Kilda Road,Level 3,melbourne,victoria,3004,Australia,apac,ferguson,peter,small
2685,10361,44,100.00,10,5001.92,2004-12-17,shipped,4,12,2004,...,"Monitor Money Building, 815 Pacific Hwy",Level 6,chatswood,nsw,2067,Australia,apac,huxley,adrian,medium
2764,10361,35,100.00,11,4277.35,2004-12-17,shipped,4,12,2004,...,"Monitor Money Building, 815 Pacific Hwy",Level 6,chatswood,nsw,2067,Australia,apac,huxley,adrian,medium
2791,10361,23,95.20,12,2189.60,2004-12-17,shipped,4,12,2004,...,"Monitor Money Building, 815 Pacific Hwy",Level 6,chatswood,nsw,2067,Australia,apac,huxley,adrian,small

# 8. Ensure Correct Data Types

In [47]:
data['quantityordered'] = pd.to_numeric(data['quantityordered'], errors='coerce')
data['priceeach'] = pd.to_numeric(data['priceeach'], errors='coerce')
data['sales'] = pd.to_numeric(data['sales'], errors='coerce')
data['year_id'] = pd.to_numeric(data['year_id'], errors='coerce')

In [49]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 147 entries, 10 to 2791
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ordernumber       147 non-null    int64
 1   quantityordered   147 non-null    int64
 2   priceeach         147 non-null    float64
 3   orderlinenumber   147 non-null    int64
 4   sales             147 non-null    float64
 5   orderdate         147 non-null    datetime64[ns]
 6   status            147 non-null    object
 7   qtr_id            147 non-null    int64
 8   month_id          147 non-null    int64
 9   year_id           147 non-null    int64
 10  productline       147 non-null    object
 11  msrp              147 non-null    int64
 12  productcode       147 non-null    object
 13  customername      147 non-null    object
 14  phone             147 non-null    object
 15  addressline1      147 non-null    object
 16  addressline2      147 non-null    object
 17  city              147 non-null    object
 18  state             147 non-null    object
 19  postalcode        147 non-null    object
 20  country           147 non-null    object
 21  territory         147 non-null    object
 22  contactlastname   147 non-null    object
 23  contactfirstname  147 non-null    object
 24  dealsize          147 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(7), object(15)
memory usage: 29.9+ KB

 # 9. Export Cleaned Data

In [51]:
data.to_csv("cleaned_sales_data.csv", index=False)